   
<br/>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label class="labelstyle">Project:</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
            <input #Project [(ngModel)]="this.getProject.Project_Name"  disabled='true'  class="textboxwidth" type="text" /> &nbsp;  
            <button id="SearchBtn" class="buttonwidth" data-toggle="modal" data-target="#projectModal" >Search</button>         
          </div>  
                
  </div>
  </div>
  <br/>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label class="labelstyle">Task:</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
            <input [(ngModel)]="taskDetail.TaskName"   class="textboxwidth" type="text" />           
          </div>        
  </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-1 col-md-1 col-sm-1">

            </div>               
            <div class="col-lg-5 col-md-5 col-sm-5">               
                <input type="checkbox" #Parenttask name="Parenttask" id="Parenttask" (click)="SetParenttask(Parenttask)" value=""> Parent Task                 
            </div>
    </div>
</div>

<br/>

  
  <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="col-lg-1 col-md-1 col-sm-1">
              <label class="labelstyle">Priority:</label> 
              </div>               
              <div class="col-lg-5 col-md-5 col-sm-5">               
              <input [(ngModel)]="taskDetail.Priority" class="textboxwidth" [disabled]="accesslevel" type="range" name="points" min="0" max="30">                  
    </div>
  </div>
</div>

  <br/><br/>
  <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="col-lg-1 col-md-1 col-sm-1">
              <label class="labelstyle">Parent Task:</label>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5">
              <input [(ngModel)]="this.getparentTask.Parent_Task" [disabled]="accesslevel" class="textboxwidth" disabled ='true'  />  &nbsp;
              <button id="SearchBtnprojecttaskModal" [disabled]="accesslevel" class="buttonwidth" data-toggle="modal" data-target="#projecttaskModal" >Search</button>
            </div>        
    </div>
  </div>

  <br/><br/>
  <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="col-lg-1 col-md-1 col-sm-1">
              <label class="labelstyle">Start Date:</label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">   
              <input id="startdate" [disabled]="accesslevel"  [(ngModel)]="taskDetail.StartDate" value="taskDetail.StartDate" (ngModelChange)="taskDetail.StartDate = $event"  class="textboxwidth" type="date" />
            </div>  
            
            <div class="col-lg-1 col-md-1 col-sm-1">
                <label class="labelstyle">End Date:</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5"> 
                <input id="endtdate" [disabled]="accesslevel" [(ngModel)]="taskDetail.EndDate" value="taskDetail.EndDate" (ngModelChange)="taskDetail.EndDate = $event" class="textboxwidth" type="date" />
            </div>  
    </div>
  </div>

  <br/><br/>
  <div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label class="labelstyle">User:</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
            <input [(ngModel)]="this.userDetail.First_Name" disabled='true'  class="textboxwidth" type="text" /> &nbsp;  
            <button id="SearchBtn" [disabled]="accesslevel" class="buttonwidth" data-toggle="modal" data-target="#userModal" >Search</button>         
          </div>  
                
  </div>
  </div>

  <br/><br/>

  <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="col-lg-1 col-md-1 col-sm-1">
               
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5">
                  <button id="submitBtn" class="buttonwidth" (click)="onSubmit(Parenttask)">Add Task</button>&nbsp;
                  <button id="clearBtn" class="buttonwidth" (click)="onClear(Parenttask)">Reset</button>
            </div>        
    </div>
  </div>

  <div class="modal fade" id="projectModal" #projectModal tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <div class="row">
                <hr style="border: 1px dotted gainsboro;" />
                <div class="col-lg-12 col-md-12">
                
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="labelstyle">Search by Name:</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                        <input  [(ngModel)]="searchString"   class="textboxwidth" type="text" />           
                      </div>
                      
                </div>
            </div>
          
                      
            <br/><br/>
            <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-group" *ngFor="let project of allProjectList |filter : 'Project_Name' : searchString; let i = index">
                  <div class="row">
                      <hr style="border: 1px dotted gainsboro;" />
                  <div class="col-lg-4 col-md-4 col-sm-4">
                        <label > Project Name: </label>
                    <label >{{project.Project_Name}}</label> <br/> 
                    <label > Start Date: </label>
                    <label >{{project.Start_Date}}</label> <br/>
                    <label > End_Date: </label>
                    <label >{{project.End_Date}}</label><br/>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <button #selectButton class="buttonwidth"  id="selectButton" (click)="selectproject(project,projectModal)" data-dismiss="modal">Select</button> <br/><br/>
                  </div>
                </div>
              </ul>
            </div>          
        </div>
        <div class="modal-footer">
        </div>        
      </div>
    </div>
  </div> <!--End of Project-->


  <!-- user  Modal -->
  <div class="modal fade" id="userModal" #userModal tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Users</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <hr style="border: 1px dotted gainsboro;" />
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="labelstyle">Search by First Name:</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                        <input  [(ngModel)]="searchString"   class="textboxwidth" type="text" />           
                    </div>
                </div>
            </div>
          
            <br/><br/>
            <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-group" *ngFor="let user of allUserList |filter : 'First_Name' : searchString; let i = index">
               
                  <div class="row">
                      <hr style="border: 1px dotted gainsboro;" />
                  <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="labelstyle"> First Name: </label>
                    <label class="labeltextarea">{{user.First_Name}}</label> <br/> 
                    <label class="labelstyle"> Last Name: </label>
                    <label class="labeltextarea">{{user.Last_Name}}</label> <br/>
                    <label class="labelstyle"> EmployeeID: </label>
                    <label class="labeltextarea">{{user.Employee_ID}}</label><br/>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <button #selectButton class="buttonwidth"  id="selectButton" (click)="selectUser(user,userModal)" data-dismiss="modal">Select</button> <br/><br/>
                  </div>
                </div>
              </ul>
            </div>          
        </div>
        <div class="modal-footer">
        </div>          
      </div>
    </div>
  </div>


  <!-- user  Modal -->
  <div class="modal fade" id="projecttaskModal" #projecttaskModal tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ProjectTask</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <div class="row">
                <hr style="border: 1px dotted gainsboro;" />
                <div class="col-lg-12 col-md-12">
                
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="labelstyle">Search by Parent task:</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                        <input  [(ngModel)]="searchString"   class="textboxwidth" type="text" />           
                      </div>
                      
                </div>
            </div>
                              
            <br/><br/>
            <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-group" *ngFor="let parentTask of allParenttask |filter : 'Parent_Task' : searchString; let i = index">
               
                  <div class="row">
                      <hr style="border: 1px dotted gainsboro;" />
                  <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="labelstyle"> Parent Task: </label>
                    <label class="labeltextarea">{{parentTask.Parent_Task}}</label> <br/>                    
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <button #selectButton class="buttonwidth"  id="selectButton" (click)="selectparentTask(parentTask,projecttaskModal)" data-dismiss="modal" >Select</button> <br/><br/>
                            
                  </div>
                </div>
                                
              </ul>
            </div>          
        </div>
        <div class="modal-footer">
        </div>          
      </div>
    </div>
  </div>













