 
<br>
<br>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="col-lg-3 col-md-3 mainheading"><B>Project Manager</B></div>
        
  </div>
      
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12 col-md-12">  
         
   <div class="col-lg-2 col-md-2 taskheading"><a id="project" routerLink="/project"><B>Add Project</B></a></div>  
   <div class="col-lg-2 col-md-2 taskheading"><a id="updateAnchor" routerLink="/Addupdatetask"><B>Add Task</B></a></div>  
   <div class="col-lg-2 col-md-2 taskheading"><a id="user" routerLink="/user"><B>Add User</B></a></div>    
   <div class="col-lg-2 col-md-2 taskheading"><a id="viewAnchor" routerLink="/ViewTaskManager"><B>View Task</B></a></div>
  </div>
</div> 

<router-outlet></router-outlet>
