.textboxwidth{
    width:370px;
    font-size: 12px;
    background-color:#E8E8E8;
}

.labelstyle{
    font-weight: 15px;
    font-size: 15px; 
    }

    .buttonwidth{
        width:75px; 
        font-size: 12px;
        font-weight: bold; 
        margin-top: 25px;
    }

    .labeltextarea{
        width:180px;
        height:70px; 
        border: none;
        background-color:#E8E8E8;
        text-align: center;
        font-weight: normal;
        font-size: 12px;
        line-height:70px;
    }