   
<br/><br/>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label class="labelstyle">First Name:</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
            <input  [(ngModel)]="userDetail.First_Name"   class="textboxwidth" type="text" />           
          </div>        
  </div>
  </div>
  <br/>
  <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="col-lg-1 col-md-1 col-sm-1">
              <label class="labelstyle">Last Name:</label>
              </div>               
              <div class="col-lg-5 col-md-5 col-sm-5">               
               <input  [(ngModel)]="userDetail.Last_Name"   class="textboxwidth" type="text" />                   
    </div>
  </div>
</div>

  <br/>
  <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="col-lg-1 col-md-1 col-sm-1">
              <label class="labelstyle">Employee ID:</label>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5">
                  <input  [(ngModel)]="userDetail.Employee_ID"   class="textboxwidth" type="number" />   
            </div>        
    </div>
  </div>
  <br/><br/>
  <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="col-lg-1 col-md-1 col-sm-1">
               
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5">
                  <button #submitBtn id="submitBtn" class="buttonwidth" (click)="onSubmit()">Add </button>&nbsp;
                  <button id="clearBtn" class="buttonwidth" (click)="onClear()">Reset</button>
            </div>        
    </div>
  </div>
<br/>
  <div class="row">
      <hr style="border: 1px dotted gainsboro;" />
      <div class="col-lg-12 col-md-12">
      
          <div class="col-lg-1 col-md-1 col-sm-1">
              <label class="labelstyle">Search:</label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
              <input  [(ngModel)]="searchString"   class="textboxwidth" type="text" />           
            </div> 
            
            <div class="col-lg-2 col-md-2 col-sm-2">
                <label >Sort:</label>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <button  (click)="sortFirst_Name()" >First name</button>&nbsp;
                    <button (click)="sortLast_Name()" >last name</button>&nbsp;
                    <button (click)="sortEmpid()"  >ID</button>&nbsp;
                    </div>                  
      </div>
  </div>
  <br/><br/>
  <div class="col-lg-12 col-md-12 col-sm-12">
  <ul class="list-group" *ngFor="let user of allUserList |filter : 'First_Name' : searchString; let i = index">
        <div class="row">
            <hr style="border: 1px dotted gainsboro;" />
        <div class="col-lg-4 col-md-4 col-sm-4">
          <label class="labeltextarea">{{user.First_Name}}</label> <br/> 
          <label class="labeltextarea">{{user.Last_Name}}</label> <br/>
          <label class="labeltextarea">{{user.Employee_ID}}</label><br/>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <button #editButton class="buttonwidth"  id="editButton" (click)="editUser(user)" >Edit</button> <br/><br/>
                   <button #deleteButton id="deleteButton"  (click)="deleteUser(user)">Delete user</button> 
        </div>
      </div>      
    </ul>
  </div>
